In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://csr.gov.in/CSR/statelist.php#'

In [8]:
page = requests.get(url).text

In [11]:
soup = BeautifulSoup(page, 'html.parser')

In [17]:
table = soup.find('table', attrs={'id':'comp_dev_table'})

In [19]:
rows = table.findAll('tr')

In [32]:
# rows[0] is the header
data = []
for r in rows[1:]:
    cols = r.findAll('td')
    vals = []
    for i in range(2):
        vals.append(cols[i].text)
    for i in range(2,5):
        vals.append(float(cols[i].text.strip().replace(',','')))
    data.append(vals)

In [33]:
data

[['1', 'Andaman And Nicobar', 0.29, 0.55, 0.83],
 ['2', 'Andhra Pradesh', 414.27, 1241.97, 729.97],
 ['3', 'Arunachal Pradesh', 11.04, 1.48, 23.61],
 ['4', 'Assam', 134.78, 167.47, 268.87],
 ['5', 'Bihar', 36.68, 108.67, 94.4],
 ['6', 'Chandigarh', 1.77, 5.12, 21.3],
 ['7', 'Chhattisgarh', 161.3, 237.94, 80.36],
 ['8', 'Dadra And Nagar Haveli', 4.41, 12.02, 5.12],
 ['9', 'Daman And Diu', 20.05, 2.13, 2.63],
 ['10', 'Delhi', 237.43, 479.13, 478.63],
 ['11', 'Goa', 27.11, 30.53, 34.95],
 ['12', 'Gujarat', 313.44, 559.14, 779.88],
 ['13', 'Haryana', 187.4, 367.33, 346.56],
 ['14', 'Himachal Pradesh', 10.94, 52.35, 16.4],
 ['15', 'Jammu And Kashmir', 43.7, 103.03, 41.05],
 ['16', 'Jharkhand', 79.56, 118.17, 94.63],
 ['17', 'Karnataka', 403.46, 778.88, 843.49],
 ['18', 'Kerala', 68.23, 143.88, 117.54],
 ['19', 'Lakshadweep', 0.0, 0.3, 0.0],
 ['20', 'Madhya Pradesh', 141.88, 183.26, 282.03],
 ['21', 'Maharashtra', 1445.91, 2013.01, 2222.25],
 ['22', 'Manipur', 2.44, 6.27, 11.71],
 ['23', 'Meghalaya', 3.53, 5.62, 7.54],
 ['24', 'Mizoram', 1.03, 1.07, 0.08],
 ['25', 'Nagaland', 1.11, 0.96, 0.92],
 ['26', 'Odisha', 252.18, 618.9, 311.96],
 ['27', 'Puducherry', 2.02, 6.34, 7.48],
 ['28', 'Punjab', 55.6, 69.04, 67.19],
 ['29', 'Rajasthan', 299.75, 493.95, 318.88],
 ['30', 'Sikkim', 1.19, 1.89, 4.86],
 ['31', 'Tamil Nadu', 539.63, 615.7, 470.54],
 ['32', 'Telangana', 101.96, 254.01, 221.26],
 ['33', 'Tripura', 1.33, 1.47, 1.25],
 ['34', 'Uttar Pradesh', 148.9, 417.12, 312.74],
 ['35', 'Uttarakhand', 74.79, 72.42, 94.64],
 ['36', 'West Bengal', 194.85, 411.7, 274.7],
 ['37', 'NEC/ Not mentioned', 26.94, 0.0, 6.72],
 ['38', 'PAN India', 4614.89, 4783.26, 4867.42]]

In [36]:
dataFrame = pd.DataFrame(data, columns=['Sno', 'State', 'Amount spent FY 2014-15 (in Crores)', 'Amount spent FY 2015-16 (in Crores)', 'Amount spent FY 2016-17 (in Crores)'])

In [37]:
dataFrame.to_csv('csr_statewise.csv')